<div style="background-color: #E5F2FD; padding: 20px; border-radius: 5px">
    <a href="https://github.com/xcodeswift"><b>xcode.</b><b style="color: #FC6D21">swift</b></a>
    <br />
    xcode.swift is an open source organization that aims to build libraries and tools in Swift to make working with Xcode easier and a more pleasant experience. All the tools are built in the open and support multiple dependency management tools like Swift Package Manager, CocoaPods or Carthage.
    <p>
        Check out other tools on the <a href="https://github.com/xcodeswift">GitHub organization</a> and stay up to date following the twitter account <a href="https://twitter.com/xcodeswiftio">@xcodeswiftio</a>. You are also welcome to <a href="http://xcodeswift.herokuapp.com/">join</a> the organization Slack where you can talk to the contributors and other users of the tools.
    </p>
    
</div>